<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Mattias Tamm</title>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="veebiprogrammeerimise 2024. aasta kursuse bänner">
  <h1>Mattias Tamm</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna Ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiselt võetavat materjali.</p>
  <hr>
  <h2>Vinge veeb</h2>
  <ul>
    <li><a href="/logout">Logi välja</a></li>
    <li><a href="/eestifilm">Eesti film</a></li>
    <li><a href="/photoupload">Galeriifotode üleslaadimine</a></li>
    <li><a href="/gallery">Avalikud galeriifotod</a></li>
  </ul>
  <hr>
  <p><%= locals.notice || "" %></p>

</body>
</html>