<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Mattias Tamm</title>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="veebiprogrammeerimise 2024. aasta kursuse bänner">
  <h1>Mattias Tamm</h1>
  <hr>
  <ul>
    <li><a href="/">Avalehele</a></li>
    <li><a href="/viljavedu">Viljavedu</a></li>
    <li><a href="/viljavedu/out_truck">Sisesta auto väljumine</a></li>
  </ul>
  <hr>
  <h2>Lisa sisenev masin</h2>
  <form method="POST">
    <label for="truck">Sisesta auto registrinumber: </label>
    <input type="text" id="truck" name="truck" placeholder="Registrinumber ...">
    <br>
    <label for="massIn">Sisesta auto mass saabumisel(kilogrammides): </label>
    <input type="number" id="massIn" name="massIn" placeholder="Mass ...">
    <br>
    <input type="submit" id="truckSubmit" name="truckSubmit" value="Salvesta">
  </form>
  <p><%= locals.notice || "" %></p>
</body>
</html>