<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Mattias Tamm</title>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="veebiprogrammeerimise 2024. aasta kursuse bänner">
  <h1>Mattias Tamm</h1>
  <hr>
  <ul>
    <li><a href="/">Avalehele</a></li>
    <li><a href="/viljavedu">Viljavedu</a></li>
  </ul>
  <hr>
  <h2>Kokkuvõte</h2>
  <form method="POST">
    <label for="truckSelect">Auto registrinumbri järgi tarnete kuvamine</label>
    <br>
    <select id="truckSelect" name="truckSelect">
      <option selected disabled>Vali auto number, mille koormatest soovid kokkuvõtet</option>
      <% deliveryList.forEach(function(delivery) { %>
        <option value="<%= delivery.truck %>"><%= delivery.truck %></option>
      <% }); %>
    </select>
    <br>
    <input type="submit" id="truckSubmit" name="truckSubmit" value="Kuva">
  </form>
  <form method="POST">
    <p>Kuva kõik tarned: </p>
    <input type="submit" id="allSubmit" name="allSubmit" value="Kuva">
  </form>
  <p><%= locals.notice || "" %></p>
</body>
</html>