<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Mattias Tamm</title>
</head>
<body>
	<img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Lingid</h1>
	<ul>
		<li><a href="/viljavedu/inc_truck">Sisesta auto sisenemine</a></li>
		<li><a href="/viljavedu/out_truck">Sisesta auto väljumine</a></li>
		<li><a href="/viljavedu/summary">Kokkuvõte</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<p><%= locals.notice || "" %></p>
</body>
</html>